<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/demo2/appClientModule/com/swingdemo/swingdemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.hyades.trace.ui.ATTR_DATA_COLLECTOR" value="com.borland.optimizeit.ui.optiProfilerMechanism:com.borland.optimizeit.ui.profileType.profiler"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.swingdemo.swingdemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="demo2"/>
</launchConfiguration>
